:root{
    --primary-color:rgb(0,255,0);
    --text-color:rgb(0,255,0);
    --text-color-second:rgba(0,100,0,1);
    --text-color-third: white;
    --background:rgb(0,0,0);
    --box-shadow:0 5px 20px 1px rgba(0,255,0,.2);
}

.statusTab{
    position: fixed;
    margin: auto;
    left: 0%;
    margin-top: 20px;
    margin-left: 20px;
}

.statusTab p{
    padding: 0px 0px 0px 20px;
}

.gridSight{
    width: 95%;
    height: 90vh;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    margin: auto;
    top: 0%;
    bottom: 0%;
    padding: 1%;
    position: fixed;
    z-index: 0;
}

.gridmask{
    width: 100%;
    height: 40vh;
    margin: auto;
    top: 0%;
    bottom: 0%;
    background-color: black;
    position: fixed;
    z-index: 1;
}