body{
    margin:  0px;
    background-color: blanchedalmond;
}
.background{
    background: black no-repeat center;
    background-size: cover;
    height: 200vh;
}

.foreground{
    width: 100%;
    height: 100vh;
    background: url(https://media.discordapp.net/attachments/543413456955637762/1048706794916163744/image.png?width=831&height=467) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

.foreground2{
    width: 100%;
    height: 100vh;
    background: url(https://media.discordapp.net/attachments/543413456955637762/1048706794916163744/image.png?width=831&height=467) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    overflow: hidden;
    background-color: #0091D2;
}

nav a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom:  3px solid transparent;
    font-weight: bolder;
}

